@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url('/org/example/autovermietung/fonts/Pretendard-Regular.otf');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url('/org/example/autovermietung/fonts/Pretendard-Medium.otf');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src: url('/org/example/autovermietung/fonts/Pretendard-SemiBold.otf');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url('/org/example/autovermietung/fonts/Pretendard-Bold.otf');
}




.root {
    -fx-font-family: 'Pretendard';
}

/* Button Hover Effect */
.button:hover {
    -fx-background-color: derive(#EB512B, -10%);
}

.button:pressed {
    -fx-background-color: derive(#EB512B, -20%);
}

/* Card Shadow Effect */
.card {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 2);
}
/* Button Hover Effect */
.button:hover {
    -fx-background-color: derive(#EB512B, -10%);
}

.button:pressed {
    -fx-background-color: derive(#EB512B, -20%);
}

/* Card Shadow Effect */
.card {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 2);
}